body{
    background-image:url(../img/diverse-friends-students-shoot.jpg);
    background:linear-gradient(180deg,rgba(116,0,0,0)0%,#740000 100%);
    background-size: 100% 100%;
}
h1{
    font-size: medium;
    text-align:center;
    font-size: x-large;
    color: #740000; 
}

h4{
    position: absolute;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    line-height: 115px;
    text-align: center;
    color: #740000; 
}
#about{
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
    color: #740000;
}

#para1{
    position: absolute;
    width: 1189px;
    height: 275px;
    left: 113px;
    top: 549px;
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: medium;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}
p{
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size:medium;
    text-align:center;
    color: #740000;

}

.card-content{
    position: absolute;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: medium;
    line-height: 115px;
    text-align: center;
    color: #740000;

}
footer{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align:center;
    color:#FFFFFF;
    position: absolute;
}
#feedback{
    text-align: center;
}