.topnav{



}
body{
    background-image:url();
    background: linear-gradient(180deg, rgba (116,0,0,0)0%,#740000 100%);
}
h1,
h3,
h4{
    position: absolute;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    color: #740000; 
}
#about{
    position: absolute;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    color: #740000;
}

#para1{
    position: absolute;
    width: 1189px;
    height: 275px;
    left: 113px;
    top: 549px;
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}
p{
    position: absolute;
    width: 1189px;
    height: 275px;
    left: 113px;
    top: 549px;
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.card-header{
    position: absolute;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    color: #740000;

}
footer{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align:center;
    color:#FFFFFF;
    position: absolute;
}
#feedback{
    text-align: center;
}